{% extends "StoreBackendBundle::layout.html.twig" %}

{% block titlepage %}
    Produits
{% endblock %}

{% block content %}

    <div class="alert alert-info alert-dark">
        {{ products.getTotalItemCount }} produits trouvés
    </div>

<div class="panel">
    <div class="table-primary">
        <div class="table-header">
            <div class="table-caption">
                Produit
                <a href="{{ path('store_backend_product_new' ) }}" class="pull-right btn btn-danger btn-sm">
                    <i class="fa fa-plus">Ajouter un produit</i>
                </a>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                {# 1er argument, le tableau de produits,
                le 2eme argument le label de la colonne,
                le 3eme argument la colonne sur laquelle  le tri va s'effectuer #}
                <th>{{ knp_pagination_sortable(products, 'Id', 'p.id' )|raw }}</th>
                <th>{{ knp_pagination_sortable(products, 'Title', 'p.title' )|raw }}</th>
                <th>{{ knp_pagination_sortable(products, 'Actif', 'p.active' )|raw }}</th>
                <th>{{ knp_pagination_sortable(products, 'En couverture', 'p.cover' )|raw }}</th>
                <th>{{ knp_pagination_sortable(products, 'Ref', 'p.ref' )|raw }}</th>
                <th>Catégories</th>
                <th>{{ knp_pagination_sortable(products, 'Description', 'p.description' )|raw }}</th>
                <th>{{ knp_pagination_sortable(products, 'Prix', 'p.price' )|raw }}</th>
                <th>{{ knp_pagination_sortable(products, 'Taxe', 'p.taxe' )|raw }}</th>
                <th>{{ knp_pagination_sortable(products, 'Quantité', 'p.quantity' )|raw }}</th>
                <th>Boutique</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {# Boucle sur les produits #}
            {% for product in products %} {# for nomdelaclef in nomdutableau #}
                {# ref, title, price sont les attributs et non pas les champs de la table #}

                <tr>
                    <td>{{ product.id }}</td>
                    <td>
                        <a href="{{ path('store_backend_product_view', {'slug' : product.slug, 'id' : product.id } ) }}">
                            {{ product.title }}
                        </a>
                            <sub>
                                <br/>Créé le
                                <br/>
                                <i>{{ product.dateCreated|date('d/m/Y') }}</i>
                            </sub>
                    </td>
                    <td>
                        {% if product.active == 1 %}
                            <a href="{{ path('store_backend_product_activate', {'id' : product.id, 'action' : 0}) }}">
                                <i class="fa fa-check"></i>
                            </a>
                        {% else %}
                            <a href="{{ path('store_backend_product_activate', {'id' : product.id, 'action' : 1}) }}">
                                <i class="fa fa-times"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if product.cover == 1 %}
                            <a href="{{ path('store_backend_product_cover', {'id' : product.id, 'action' : 0}) }}">
                                <i class="fa fa-star"></i>
                            </a>
                        {% else %}
                            <a href="{{ path('store_backend_product_cover', {'id' : product.id, 'action' : 1}) }}">
                                <i class="fa fa-star-o"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        <sub>{{ product.ref }} </sub>
                    </td>
                    <td>
                        {% for category in product.category %}
                            <span class="badge"> {{ category.title }}</span>
                        {% endfor %}
                    </td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }} €</td>
                    <td>{{ product.taxe }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.jeweler }}</td>
                    <td><img src="{{ asset('uploads/product/'~ product.imagepresentation ) }}" class="img-responsive" style="width:30px;height:auto"/></td>
                    <td>
                        <div class="btn-group dropup">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> Actions <i class="fa fa-caret-down"></i> </button>
                            <ul class="dropdown-menu">
                                <li> <a href="{{ path('store_backend_product_view', {'slug' : product.slug, 'id' : product.id } ) }}"><i class="fa fa-eye"></i> Voir </a></li>
                                <li> <a href="{{ path('store_backend_product_edit', {'id' : product.id } ) }}"><i class="fa fa-pencil"></i> Editer </a></li>
                                <li class="divider"></li>
                                <li> <a href="{{ path('store_backend_product_remove', { 'id':product.id } ) }}"><i class="fa fa-times"></i> Supprimer </a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% else %} {# si aucune catégorie #}
                <div class="alert alert-dark">Aucun produit</div>
            {% endfor %}

            </tbody>
        </table>
    <div class="table-footer">

        <div class="navigation">
            {{ knp_pagination_render(products) }}
        </div>
    </div>
</div>
</div>
{% endblock %}
