{%  extends "StoreBackendBundle::layout.html.twig" %}

{# cette foncrtion form_theme va chercher le thème de formulaire form.html.twig dans Partial #}
{#{% form_theme form 'StoreBackendBundle:Partial:form.html.twig' %}#}

{% block javascripts %}
    {{ parent() }}
    <script>
        init.push(function () {
                $('textarea').summernote({
                    height: 200,
                    tabsize: 2,
                    codemirror: {
                        theme: 'monokai'
                    }
                });
        });
    </script>
{% endblock %}

{% block titlepage %}
    <i class="fa fa-plus"></i> Création de produit
{% endblock %}
{% block content %}
    {# création du formulaire avec label, input et message d'erreurs #}
    {# {{ form(form) }} #}
    {# Sort tout le formulaire #}
    {# {{ form(form) }} #}

{# Créer une balise ouvrante <form> #}
{{  form_start(form) }}

    {# form_label() me sort juste le label d'un champ #}
    {#{{ form_label(form.ref) }}#}
    {# form_widget() me sort juste l'input d'un champ #}
    {#{{ form_widget(form.ref) }}#}
    {# form_error() me sort juste les erreurs d'un champ #}
    {#{{ form_errors(form.ref) }}#}

    {# ou utiliser une fonction qui résume les trois #}
    {# Fonction qui sort le label, le widget et les errors #}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.ref) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.title) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.summary) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.description) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.price) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.quantity) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.taxe) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.active) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.cover) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.category) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.cms) }}
        </div>
    </div>

    <br/>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.supplier) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.tag) }}
        </div>
    </div>

    <br/>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.composition) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.slug) }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.dateActive) }}
        </div>
    </div>
    <hr/>
    {# btn envoyer #}
    {{ form_widget(form.envoyer, {'attr': {'class': 'btn btn-lg btn-primary'}}) }}

    {# ATTENTION : token à ne pas oublier #}
    {{ form_widget(form._token) }}




{# Créer une balise fermante </form> #}
{{  form_end(form, {'render_rest': false}) }}

{% endblock %}