{% extends "StoreBackendBundle::layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script>
        init.push(function () {
            $('#dashboard-recent .panel-body > div').slimScroll({ height: 300, alwaysVisible: true, color: '#888',allowPageScroll: true });

            // Pour alimenter le hero-graph
            var uploads_data = [
                {%  for stat in statorder %}
                        { period: '{{ stat.d }}', v: {{ stat.nb|default(0) }} },
                {% endfor %}
            ];
            Morris.Line({
                element: 'hero-graph',
                data: uploads_data,
                xkey: 'period',
                ykeys: ['v'],
                labels: ['Nombre de commandes'],
                lineColors: ['#fff'],
                lineWidth: 2,
                pointSize: 3,
                gridLineColor: 'rgba(255,255,255,.8)',
                resize: true,
                gridTextColor: '#fff',
                xLabels: "period"
            });
            // FIN de hero-graph

        });

    </script>
{% endblock %}

{% block titlepage %}
    Dashboard
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <div class="stat-panel">
                <div class="stat-row">
                    <!-- Small horizontal padding, bordered, without right border, top aligned text -->
                    <div class="stat-cell col-sm-4 padding-sm-hr bordered no-border-r valign-top">
                        <!-- Small padding, without top padding, extra small horizontal padding -->
                        <h4 class="padding-sm no-padding-t padding-xs-hr"><i class="fa fa-cloud-upload text-primary"></i>&nbsp;&nbsp;Uploads</h4>
                        <!-- Without margin -->
                        <ul class="list-group no-margin">
                            <!-- Without left and right borders, extra small horizontal padding, without background, no border radius -->
                            <li class="list-group-item no-border-hr padding-xs-hr no-bg no-border-radius">
                                Bijoux  <span class="label label-pa-purple pull-right">{{ nbprod.nb|default('0') }} créés</span>
                            </li> <!-- / .list-group-item -->
                            <!-- Without left and right borders, extra small horizontal padding, without background -->
                            <li class="list-group-item no-border-hr padding-xs-hr no-bg">
                                Catégories <span class="label label-danger pull-right">{{ nbcat.nb|default('0') }} utilisées</span>
                            </li> <!-- / .list-group-item -->
                            <!-- Without left and right borders, without bottom border, extra small horizontal padding, without background -->
                            <li class="list-group-item no-border-hr no-border-b padding-xs-hr no-bg">
                                CMS <span class="label label-success pull-right">{{ nbcms.nb|default('0') }} utilisés</span>
                            </li> <!-- / .list-group-item -->
                            <!-- Without left and right borders, without bottom border, extra small horizontal padding, without background -->
                            <li class="list-group-item no-border-hr no-border-b padding-xs-hr no-bg">
                                Commentaires <span class="label label-success pull-right">{{ nbcom.nb|default('0') }} postés</span>
                            </li> <!-- / .list-group-item -->
                            <!-- Without left and right borders, without bottom border, extra small horizontal padding, without background -->
                            <li class="list-group-item no-border-hr no-border-b padding-xs-hr no-bg">
                                Fournisseurs <span class="label label-success pull-right">{{ nbsup.nb|default('0') }} créés</span>
                            </li> <!-- / .list-group-item -->
                            <!-- Without left and right borders, without bottom border, extra small horizontal padding, without background -->
                            <li class="list-group-item no-border-hr no-border-b padding-xs-hr no-bg">
                                Commandes <span class="label label-success pull-right">{{ nbcde.nb|default('0') }} enregistrées</span>
                            </li> <!-- / .list-group-item -->
                        </ul>
                    </div> <!-- /.stat-cell -->

                </div>
            </div>
        </div>
        <div class="stat-cell bg-primary padding-sm valign-middle">
            <div id="hero-graph" class="graph" style="height: 230px;">
            </div>
        </div>

        <div class="col-sm-12 col-md-3">
            <div class="stat-panel">
                <!-- Danger background, vertically centered text -->
                <div class="stat-cell bg-danger valign-middle">
                    <!-- Stat panel bg icon -->
                    <i class="fa fa-trophy bg-icon"></i>
                    <!-- Extra large text -->
                    <span class="text-xlg"><span class="text-lg text-slim">$</span><strong>{{ totalcde.total|default('0')|number_format(2, ',', ',') }}</strong></span><br>
                    <!-- Big text -->
                    <span class="text-bg">Earned today</span><br>
                    <!-- Small text -->
                    <span class="text-sm"><a href="#">See details in your profile</a></span>
                </div> <!-- /.stat-cell -->
            </div> <!-- /.stat-panel -->
        </div>
    </div>


    {# ***********************************************************************************************************************************  #}

    <div class="col-md-6">


        <div class="panel panel-warning" id="dashboard-recent">
            <div class="panel-heading">
                <span class="panel-title"><i class="panel-title-icon fa fa-fire text-danger"></i>Commentaires</span>
                <ul class="nav nav-tabs nav-tabs-xs">
                    <li class="active">
                        <a href="#dashboard-recent-comments" data-toggle="tab">Commentaires actifs</a>
                    </li>
                    <li>
                        <a href="#dashboard-recent-threads" data-toggle="tab">Commentaires en cours</a>
                    </li>
                </ul>
            </div> <!-- / .panel-heading -->
            <div class="tab-content">

                <!-- Comments widget -->

                <!-- Without padding -->
                <div class="widget-comments panel-body tab-pane no-padding fade active in" id="dashboard-recent-comments">
                    <!-- Panel padding, without vertical padding -->
                    <div class="panel-padding no-padding-vr" style="overflow: hidden; width: auto; height: 300px;">
                        {% for commentsactifs in commentsactifs %}
                            <div class="comment">
                                <img src="#" alt="" class="comment-avatar">
                                <div class="comment-body">
                                    <div class="comment-by">
                                        <a href="#" title="">{{ commentsactifs.user.firstname ~ " " ~ commentsactifs.user.lastname }}</a> a commenté <a href="#" title="">{{ commentsactifs.product.title }}</a>
                                    </div>
                                    <div class="comment-text">
                                        {{ commentsactifs.content }}
                                    </div>
                                    <div class="comment-actions">
                                        <a href="#"><i class="fa fa-pencil"></i>Edit</a>
                                        <a href="#"><i class="fa fa-times"></i>Remove</a>
                                        <span class="pull-right">2 hours ago</span>
                                    </div>
                                </div> <!-- / .comment-body -->
                            </div> <!-- / .comment -->

                        {% endfor %}


                    </div>
                </div>

                <!-- Threads widget -->

                <!-- Without padding -->
                <div class="widget-threads panel-body tab-pane no-padding fade" id="dashboard-recent-threads">
                    <div class="panel-padding no-padding-vr" style="overflow: hidden; width: auto; height: 300px;">
                        {% for commentsinactifs in commentsinactifs %}
                            <div class="comment">
                                <img src="#" alt="" class="comment-avatar">
                                <div class="comment-body">
                                    <div class="comment-by">
                                        <a href="#" title="">{{ commentsinactifs.user.firstname ~ " " ~ commentsinactifs.user.lastname }}</a> a commenté <a href="#" title="">{{ commentsinactifs.product.title }}</a>
                                    </div>
                                    <div class="comment-text">
                                        {{ commentsinactifs.content }}
                                    </div>
                                    <div class="comment-actions">
                                        <a href="#"><i class="fa fa-pencil"></i>Edit</a>
                                        <a href="#"><i class="fa fa-times"></i>Remove</a>
                                        <span class="pull-right">2 hours ago</span>
                                    </div>
                                </div> <!-- / .comment-body -->
                            </div> <!-- / .comment -->

                        {% endfor %}



                    </div>
                </div> <!-- / .panel-body -->
            </div>
        </div> <!-- / .widget-threads -->
    </div>
    {# ***********************************************************************************************************************************  #}
    <div class="col-md-6">
        <div class="panel panel-success widget-support-tickets" id="dashboard-support-tickets">
            <div class="panel-heading">
                <span class="panel-title"><i class="panel-title-icon fa fa-bullhorn"></i>Les 5 dernières commandes</span>
                <div class="panel-heading-controls">
                    <div class="panel-heading-text"><a href="#">{{ nbcde.nb|default('0') }} commandes enregistrées</a></div>
                </div>
            </div> <!-- / .panel-heading -->
            <div class="panel-body tab-content-padding">
                <!-- Panel padding, without vertical padding -->
                <div class="panel-padding no-padding-vr" style="overflow: hidden; width: auto; height: 300px;">

                    {% for fivelastcde in fivelastcde %}
                        <div class="ticket">
                            {#{% if fivelastcde.state == 1 %}#}
                                {#<span class="label label-success ticket-label">Envoyé</span>#}
                            {#{% elseif fivelastcde.state == 0 %}#}
                                {#<span class="label label-info ticket-label">En cours</span>#}
                            {#{% elseif fivelastcde.state == 2 %}#}
                                {#<span class="label label-warning ticket-label">En attente de paiement</span>#}
                            {#{% else %}#}
                                {#<span class="label label-danger ticket-label">Annulé</span>#}
                            {#{% endif %}#}

                            <span class="pull-right">{{ fivelastcde.state|state|raw }}</span>
                            <a href="#" title="" class="ticket-title">{{ fivelastcde.address }}<span>[#{{ fivelastcde.id }}]</span></a>
								<span class="ticket-info">
									Commande par <a href="#" title="">{{ fivelastcde.user.firstname ~ " " ~ fivelastcde.user.lastname }}</a> {{ fivelastcde.date|date("m/d/Y") }}
								</span>
                        </div> <!-- / .ticket -->
                    {% endfor %}
                </div>
            </div> <!-- / .panel-body -->
        </div> <!-- / .panel -->
    </div>
    {# ***********************************************************************************************************************************  #}
    <div class="col-sm-6">

        <!-- 8. $STRIPED_TABLES ============================================================================

                        Striped tables
        -->
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Les catégories les plus populaires</span>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Nbr de produit</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for catpopulaire in catpopulaire %}
                    <tr>
                        <td>{{ catpopulaire.id }}</td>
                        <td>{{ catpopulaire.title }}</td>
                        <td><span class="badge">{{ catpopulaire.product|length }}</span></td>
                        <td>
                            <div class="btn-group dropup">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> Actions <i class="fa fa-caret-down"></i> </button>
                                <ul class="dropdown-menu">
                                    <li> <a href="{{ path('store_backend_category_view', {'title' : catpopulaire.title, 'id' : catpopulaire.id } ) }}"><i class="fa fa-eye"></i> Voir </a></li>
                                    <li> <a href="#"><i class="fa fa-pencil"></i> Editer </a></li>
                                    <li class="divider"></li>
                                    <li> <a href="{{ path('store_backend_category_remove', { 'id':catpopulaire.id } ) }}"><i class="fa fa-times"></i> Supprimer </a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /8. $STRIPED_TABLES -->


        <!-- Place somewhere in the <body> of your page -->
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img src="slide1.jpg" />
                </li>
                <li>
                    <img src="slide2.jpg" />
                </li>
                <li>
                    <img src="slide3.jpg" />
                </li>
                <li>
                    <img src="slide4.jpg" />
                </li>
            </ul>
        </div>

    </div>

{% endblock %}