
{{  form_start(form) }}

<div class="row">
    <div class="col-md-6">
        {{ form_row(form.title) }}
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.summary) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.description) }}
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.image) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.video) }}
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-4">
        {{ form_row(form.dateActive) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.state) }}
    </div>
</div>
<hr/>

{{ form_widget(form.envoyer, {'attr': {'class': 'btn btn-lg btn-primary'}}) }}

{{ form_widget(form._token) }}

    {# Créer une balise fermante </form> #}
    {{  form_end(form, {'render_rest': false}) }}