{% extends "StoreBackendBundle::layout.html.twig" %}

{% block titlepage %}
    {# le filtre trans de Twig va me chercher la traduction pour le texte Page CMS #}
    <i class="menu-icon fa fa-pencil"></i> {{  "cms.list.title"|trans }}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="pull-right">
            {# la variable locale que j'envoi en paramètre dans ma route sera la langue affectée à mon utilisateur #}
            <a href="{{  path('store_backend_cms_list', {'_locale': 'en'}) }}"
               class="btn btn-primary btn-outline {% if app.request.get('_locale') == 'en' %} active {% endif %}"> Anglais </a>
            <a href="{{  path('store_backend_cms_list', {'_locale': 'fr'}) }}"
               class="btn btn-primary btn-outline {% if app.request.get('_locale') == 'fr' %} active {% endif %}"> Français </a>
        </div>
    </div>

<div class="panel">
    <div class="table-primary">
        <div class="table-header">
            <div class="table-caption">
                CMS
                <a href="{{ path('store_backend_cms_new' ) }}" class="pull-right btn btn-info btn-sm">
                    <i class="fa fa-plus"> Ajouter une page CMS</i>
                </a>
            </div>
        </div>
        <div class="alert alert-info alert-dark">
            {# Filtre: transchoice permet de choisir la traduction en fonction du nombre que je lui donne #}
            {{ "cms.list.nb"|transchoice(pages|length) }}
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>{{ "cms.list.table.th.img"|trans }}</th>
                <th>{{ "cms.list.table.th.title"|trans }}</th>
                <th>{{ "cms.list.table.th.summary"|trans }}</th>
                <th>{{ "cms.list.table.th.description"|trans }}</th>
                <th>{{ "cms.list.table.th.product"|trans }}</th>
                <th>{{ "cms.list.table.th.state"|trans }}</th>
                <th>{{ "cms.list.table.th.active"|trans }}</th>
                <th>{{ "cms.list.table.th.actions"|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {# Boucle sur les cms #}
            {% for page in pages %} {# for nomdelaclef in nomdutableau #}
            {# title, active sont les attributs et non pas les champs de la table #}
            <tr>
                <td>{{ page.id }}</td>
                <td><img src="{{ page.image }}" alt="" style="width:26px;height:26px;" class="rounded"></td>
                <td>{{ page.title }}</td>
                <td>{{ page.summary }}</td>
                <td>{{ page.description }}</td>
                <td>
                    <span class="badge">{{ page.product|length }}</span> Produits <br/><br/>
                    {% for product in page.product %}
                        <span class="badge"> {{ product.title }} </span>
                    {% endfor %}
                </td>
                <td>
                    {% if page.state == 2 %}
                        <a href="{{ path('store_backend_cms_state', {'id' : page.id, 'action' : 2}) }}" class="btn btn-success disabled" >Lu</a>
                        <a href="{{ path('store_backend_cms_state', {'id' : page.id, 'action' : 1}) }}" class="btn btn-default">En cours de lecture</a>
                        <a href="{{ path('store_backend_cms_state', {'id' : page.id, 'action' : 0}) }}" class="btn btn-default">Non lu</a>
                    {% elseif page.state == 1 %}
                        <a href="{{ path('store_backend_cms_state', {'id' : page.id, 'action' : 2}) }}" class="btn btn-default" >Lu</a>
                        <a href="{{ path('store_backend_cms_state', {'id' : page.id, 'action' : 1}) }}" class="btn btn-info disabled">En cours de lecture</a>
                        <a href="{{ path('store_backend_cms_state', {'id' : page.id, 'action' : 0}) }}" class="btn btn-default">Non lu</a>
                    {% else %}
                        <a href="{{ path('store_backend_cms_state', {'id' : page.id, 'action' : 2}) }}" class="btn btn-default" >Lu</a>
                        <a href="{{ path('store_backend_cms_state', {'id' : page.id, 'action' : 1}) }}" class="btn btn-default">En cours de lecture</a>
                        <a href="{{ path('store_backend_cms_state', {'id' : page.id, 'action' : 0}) }}" class="btn btn-danger disabled">Non lu</a>
                    {% endif %}
                </td>
                <td>
                    {% if page.active == 1 %}
                        <a href="{{ path('store_backend_cms_activate', {'id' : page.id, 'action' : 0}) }}">
                            <i class="fa fa-check"></i>
                        </a>
                    {% else %}
                        <a href="{{ path('store_backend_cms_activate', {'id' : page.id, 'action' : 1}) }}">
                            <i class="fa fa-times"></i>
                        </a>
                    {% endif %}
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> Actions <i class="fa fa-caret-down"></i> </button>
                        <ul class="dropdown-menu">
                            <li> <a href="{{ path('store_backend_cms_view', {'title' : page.title, 'id' : page.id } ) }}"><i class="fa fa-eye"></i> Voir </a></li>
                            <li> <a href="{{ path('store_backend_cms_edit', {'id' : page.id } ) }}"><i class="fa fa-pencil"></i> Editer </a></li>
                            <li class="divider"></li>
                            <li> <a href="{{ path('store_backend_cms_remove', { 'id' : page.id } ) }}"><i class="fa fa-times"></i> Supprimer </a></li>
                        </ul>
                    </div>
                </td>
            </tr>

            {% endfor %}
            </tbody>
        </table>
        <div class="table-footer">
            Footer
        </div>
    </div>
</div>
{% endblock %}
