{% extends "StoreBackendBundle::layout.html.twig" %}

{% block titlepage %}
    CMS
{% endblock %}

{% block content %}
    <div class="table-primary">
        <div class="table-header">
            <div class="table-caption">
                Primary Table
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>img</th>
                <th>Titre</th>
                <th>Résumé</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {# Boucle sur les cms #}
            {% for cms in cms %} {# for nomdelaclef in nomdutableau #}
            {# title, active sont les attributs et non pas les champs de la table #}
            <tr>
                <td>{{ cms.id }}</td>
                <td><img src="{{ cms.image }}" alt="" style="width:26px;height:26px;" class="rounded"></td>
                <td>{{ cms.title }}</td>
                <td>{{ cms.summary }}</td>
                <td>{{ cms.description }}</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> Actions <i class="fa fa-caret-down"></i> </button>
                        <ul class="dropdown-menu">
                            <li> <a href="{{ path('store_backend_cms_view', {'title' : cms.title, 'id' : cms.id } ) }}"><i class="fa fa-eye"></i> Voir </a></li>
                            <li> <a href="#"><i class="fa fa-pencil"></i> Editer </a></li>
                            <li class="divider"></li>
                            <li> <a href="#"><i class="fa fa-times"></i> Supprimer </a></li>
                        </ul>
                    </div>
                </td>
            </tr>

            {% endfor %}
            </tbody>
        </table>
        <div class="table-footer">
            Footer
        </div>
    </div>
{% endblock %}
